
       /*css reset*/ 
 *{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
} 

html body{
    min-width: 100%;
    overflow-x: hidden;
    background-color: #808080;
    background-image: url('images/sun-rise.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

div.box{
    margin: 100px;
    box-shadow: 5px 10px 10px rgb(35, 13, 13, 0.5); 
}
        /*header style*/
header{
    background-color: #000000;
    border-bottom: 3px solid black;
    background-image: url('images/image79.jpg');
    background-position: center;
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}
        /*about me section style*/
h1{
    padding: 5px;
    position: relative;
    left: 200px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about-me{
    background-color: white;
    padding: 20px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
    margin: 100px;
    font-size: 1.3em;
    line-height: 1.5;
    border-left: 3px solid #FF8C00;
    width: auto;
}
 #about-me i{
    color: #060601;
    padding: 5px;
    opacity: 0.5;
}

hr{
    border-color: #FF8C00;
    margin-inline: 200px;
}
/*     /*ul list box style*/
/* ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */

.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
    width: auto;
}

.list h2{
    font-size: 1.3em;
}

.list li{
    list-style: none;
    font-size: 1.2em;
}


#list-box h2{
    padding: 10px;
}


    /*gallery style*/
.img-gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding-bottom: 100px;
}

#galéria{
    padding: 20px;
    background-color: white;
}


.gallery {
    width: 205px;
    height: 175px;
    
    margin: 15px;
}
        
.gallery img {
    width: 200px;
    height: 170px;
    opacity: 0.3;
    transition: transform .2s; /* Animation */
    padding: 2px;
    border: 1px solid;
    background-color: black;
    color: black;
}
    /*image hover effect style*/
.gallery img:hover{
    opacity: 1;
    transform: scale(1.2);
}

#galéria h3{
    text-align: center;
    font-size: 1.5em;
    padding: 30px;
}

    /*footer links style*/
footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2.5vmin;
}

footer li{
    list-style-type: none;
    padding: 5px;
}
#kapcsolat h3{
    text-align: center;
    font-size: 1.5em;
    padding-top: 15px;
}

footer{
    padding: 15px 15px;
}

#kapcsolat{
    margin: 0;
    background-color: #e2e0e0;
    padding: 5px;
    color: black;
    border-top: 2px outset #FF8C00
}

        /*footer links tranform, hover*/

.scale-1:hover{
    transform: scale(1.3);
}
.scale-2:hover{
    transform: scale(1.3);
 }
.scale-3:hover{
    transform: scale(1.3);
}
.scale-4:hover{
    transform: scale(1.3);
}

#kapcsolat i{
    color: rgb(125, 129, 124);
    opacity: 10;
}

#kapcsolat i:hover{
    color: rgb(71, 120, 194);
}
    /*image style*/
.profile-image img{
    border-radius: 50%;
    border: 2px solid;
    object-fit: cover;
    filter: grayscale(60%);
    transition: transform .2s; /* Animation */
    width: 180px;
    height: 180px;
}

.profile-image img:hover{
    filter: grayscale(10%);
    transform: scale(1.1);
}

header figure{
    position: relative;
    top: 130px;
    left: 100px;
    margin-bottom: -50px;
}



