/* header{background-color: burlywood;}
nav{background-color: rgb(213, 133, 13);}
.intoduction{background-color: beige;}
.about-me{background-color: rgb(248, 248, 170);}
.image-gallery{background-color: rgb(150, 232, 232);}
.contact{background-color: rgb(188, 230, 230);}
       /*css reset*/ */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
        /*header style*/
header{
    width: 100%;
    margin 0;
}
        /*navbar style*/
nav ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li{
    float: right;
    list-style-type: none;
    width: 100px;
    transition: all linear 0.5s;
}

nav a{
    text-decoration: none;
    padding: 15px 10px;
    font-size: 1.2rem;
    color:black
}

    /*introduction style*/
.introduction{
    padding: 20px 20px;
    margin: auto;
}

.introduction h3{
    text-align: center;
    padding-bottom: 20px;
}

    /*about me style*/
.about-me{
    padding: 20px 20px;
    margin: auto;
}

.about-me h3{
    text-align: center;
    padding-bottom: 20px;
}

    /*gallery style*/
.image-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
}
.gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
figcaption.desc {
    padding: px;
    text-align: center;
} 
.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    width: 100px;
    position: relative;
}

    /*footer links style*/
footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer li{
    list-style-type: none;
    padding: 10px;
}

.contact h3{
    text-align: center;
}

footer{
    padding: 15px 15px;
}



